<div class="col-md-12">
    <ul class="breadcrumb">
        <li><a href="/">Home</a>
        </li>
        <li>Checkout</li>
    </ul>
</div>

<div class="col-md-7" id="checkout">

    <div class="box">
      <form name="checkout_form" class="form-horizontal" role="form" novalidate ng-show="cart.getTotalCount() > 0">
        <ul class="nav nav-pills nav-justified">
            <li class="active"><a href="#"><i class="fa fa-map-marker"></i><br>Address</a>
            </li>
            <li class="disabled"><a href="#"><i class="fa fa-truck"></i><br>Delivery Method</a>
            </li>
            <li class="disabled"><a href="#"><i class="fa fa-money"></i><br>Payment Method</a>
            </li>
            <li class="disabled"><a href="#"><i class="fa fa-eye"></i><br>Order Review</a>
            </li>
        </ul>
      <div class="panel-heading">
            <h3 class="panel-title">Enter shipping details</h3>
      </div>
      <div class="panel-body">
          <div class="form-group">
              <label class="col-sm-3 control-label no-padding-right"> Phone </label>
              <div class="col-sm-7">
                 <span class="block input-icon input-icon-right">
                      <input type="text" name="phone" class="form-control" placeholder="Your phone number" ng-model="customer.phone" required="" tabindex="1" autofocus>
  <small class="errorMessage" ng-show="checkout_form.phone.$dirty && checkout_form.phone.$error.isCustomer"> Your phone number required.</small>
                  </span>
              </div>
          </div>
          <div class="form-group">
              <label class="col-sm-3 control-label no-padding-right"> Name </label>
              <div class="col-sm-7">
                 <span class="block input-icon input-icon-right">
                      <input type="text" ng-model="customer.name" name="name" class="form-control" required placeholder="Your name here" tabindex="2"/>
      <small class="errorMessage"
       ng-show="checkout_form.name.$dirty && checkout_form.name.$invalid"> Your name required.</small>
                  </span>
              </div>
          </div>

          <div class="form-group">
              <label class="col-sm-3 control-label no-padding-right"> Address </label>
              <div class="col-sm-7">
                 <span class="block input-icon input-icon-right">
                     <textarea name="address" ng-model="customer.address" class="form-control" required placeholder="Address"  tabindex="4"></textarea>
     <small class="errorMessage"
       ng-show="checkout_form.address.$dirty && checkout_form.address.$invalid"> We need your address to deliver.</small>
                  </span>
              </div>
          </div>
          <div class="form-group">
              <label class="col-sm-3 control-label no-padding-right"> City </label>
              <div class="col-sm-7">
                 <span class="block input-icon input-icon-right">
                      <input type="text" name="city" ng-model="customer.city" class="form-control" placeholder="Your city" tabindex="5"/>
  <small class="errorMessage"
       ng-show="checkout_form.city.$dirty && checkout_form.city.$invalid"> Please select your city.</small>
                  </span>
              </div>
          </div>

            </div>
            <div class="box-footer">
                <div class="pull-left">
                    <a href="/" class="btn btn-default"><i class="fa fa-chevron-left"></i>Back to basket</a>
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary" ng-click="placeOrder(cart.items);cart.checkout('PayPal');cart.clearItems();" ng-disabled="checkout_form.$invalid" tabindex="6">Make Payment<i class="fa fa-chevron-right"></i>
                    </button>
                </div>
            </div>
            </form>
    </div>
    <!-- /.box -->


</div>
<!-- /.col-md-9 -->

<div class="col-md-5">

    <div class="box" id="order-summary" ng-if="cart.getTotalCount()>0">
        <div class="box-header">
            <h3>Order summary</h3>
        </div>
        <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>

        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Order subtotal</td>
                        <th>{{cart.getTotalPrice() | currency}}</th>
                    </tr>
                    <tr>
                        <td>Shipping and handling</td>
                        <td ng-if="cart.getTotalPrice()>=500">
                            Free Shipping
                        </td>
                        <td ng-if="cart.getTotalPrice()<=500">
                            $20 <br/><small><i><a href="/">Shop</a> Rs {{500-cart.getTotalPrice()}} more for free shipping</i></small>
                        </td>
                    </tr>
                    <tr>
                        <td>Tax</td>
                        <th>$0.00</th>
                    </tr>
                    <tr class="total">
                        <td>Total</td>
                        <th>{{cart.getTotalPriceAfterShipping() | currency}}</th>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
<!-- /.col-md-3 -->
